<div id="container">
  <header id="header">
    <h1>Victor Pontis</h1>
  </header>
  <div id="left-content">
    <div id="blog">
      <h2>Blog</h2>
    </div>
  </div>
  <div id="right-content">
    <div id="about-splash">
      <h2>Hey there</h2>
      <p>I'm <em>Victor Pontis</em> and this is my blog.</p>
      <p>Read my bio and peruse my <%= link_to 'resume', 'resume.pdf' %></p>
      <p>Follow me on <%= link_to 'Twitter', 'https://www.twitter.com/viccypont' %>
    </div>
  </div>

</div>
