.row
  .col-md-4.col-md-offset-4
    = image_tag 'headshot2.jpg', width: '300'
    %h1.text-center Victor Pontis

    %p
      :markdown
        I am working as a software engineer at [Benchling](http://www.benchling.com) where I am bringing modern technology to biology.

        In my other time, I work on [CoBattery](http://cobattery.com), a battery case that eliminates the need to plug in your phone.

        I recently graduated from MIT where I studied computer science and physics.

        Previously I was at [PicnicHealth](https://picnichealth.com) working as a software engineer helping people keep track of, manage, and understand their medical records.

        Check out my [resume](resume.pdf), my [quora profile](http://www.quora.com/Victor-Pontis),
        or [github account](https://github.com/vpontis). I also have a
        [list of some projects](/projects) on this site. Or [send me an email](mailto:vpontis@mit.edu).

        Also check out [my blog](http://blog.victorpontis.com)!

