.row
  .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3
    = image_tag 'headshot2.jpg', width: '300'
    %h1.text-center Victor Pontis

    %p
      :markdown
        I am working on [CoBattery](https://cobattery.com/?ref=vp.com).

        CoBattery is an iPhone battery case with a swappable battery. CoBattery comes with two batteries, so you never need to plug in your phone. Order one [here](https://cobattery.com/order).

        Before I was at:

        - [Benchling](https://benchling.com) as a software engineer. Benchling is working to accelerate the pace of life science research.
        - [PicnicHealth](https://picnichealth.com) as a software engineer. PicnicHealth helps people keep track of, manage, and understand their medical records.
        - MIT getting my Bachelor's in EECS and physics

        You can find me on the internet on:

        - Twitter as [viccypont](https://twitter.com/viccypont)
        - [Quora](http://quora.com/Victor-Pontis)
        - [Github](https://github.com/vpontis)

        Or [send me an email](mailto:victor@victorpontis.com).

        Also check out [my blog](http://blog.victorpontis.com)!
