.row.center
  .col-md-4.col-md-offset-4
    %h1 Victor Pontis
    %p I am a junior at MIT studying computer science and physics.

    %p
      :markdown
        Check out my [resume](resume.pdf) my [quora profile](http://www.quora.com/Victor-Pontis),
        or [github account](https://github.com/vpontis). I also have a
        [list of some projects](/projects) on this site.


    %p Also feel free to #{link_to('send me an email', 'mailto:vpontis@mit.edu')}.

    = image_tag 'victor_headshot.jpg', size: '200x227'
