.row
  .col-md-4.col-md-offset-4
    %h1.text-center Victor Pontis

    %p
      :markdown
        I was at MIT studying computer science and physics.
        Right now I'm at [PicnicHealth](https://picnichealth.com) working as a software engineer helping people keep track of, manage, and understand their medical records.

        Check out my [resume](resume.pdf), my [quora profile](http://www.quora.com/Victor-Pontis),
        or [github account](https://github.com/vpontis). I also have a
        [list of some projects](/projects) on this site. Or [send me an email](mailto:vpontis@mit.edu).

        Also check out [my blog](blog.victorpontis.com)!
    = image_tag 'victor_headshot.jpg', size: '200x227'

