.row
  .col-sm-6.col-sm-offset-3
    %h1 Projects

    %h3.project_title= link_to 'rerack.me', 'http://www.rerack.me'
    %h4
      %em Keep track of your pong games and ranking

    %p I made this app with a couple friends for our 6.170 final project.

    %hr

    %h3 howbigofadeal.is
    %h4 
      %em Resolve arguments of importance

    %hr 

    %h3 A Survey of Spectral Sparsification
    %h4
      %em Learn about a new class of algorithms

    %hr 

    %h3 CollabTeX
    %h4
      %em Collaborative LaTeX editor written in Java

    %hr 

    %h3 Termstile
    %h4
      %em Generate a study guide from a list of terms