// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

#left-content {
  width: 60%;
  float: left;
  background-color: #FFFFCC;
}

#right-content {
  width: 35%;
  float: right;
  background-color: #FFFFCC;
}

#header {
  text-align: center;
  a {
    text-decoration: none;
    color: red;
  }
}

// div {
//   display: block;
// }

h1, h2, h3 {
  text-align: center;
}
